fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
SQLAlchemy==2.0.43
alembic==1.16.5
argon2-cffi==25.1.0
python-multipart==0.0.20
openpyxl==3.1.5
XlsxWriter==3.2.5
reportlab==4.4.3
networkx==3.5
httpx==0.28.1
pytest==8.4.2
pytest-cov==6.2.1
